.icon-bar {
    width: 100%;
    /* Full-width */
    background-color: #000;
    /* Dark-grey background */
    overflow: auto;
    /* Overflow due to float */
    display: flex;
    justify-content: space-around;
}
.icon-bar a {
    
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 20%;
    /* Equal width (7 icons with 20% width each = 100%) */
    padding: 10px 0;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 20px;
    /* Increased font size */
}
.icon-bar a:hover {
    background-color: #000;
    /* Add a hover color */
}
.active {
    background-color: #4CAF50;
    /* Add an active/current color */
}

body {
background-image: url(https://besthqwallpapers.com/Uploads/18-6-2019/95880/flag-of-nueva-esparta-state-4k-silk-flag-venezuelan-state-nueva-esparta-state.jpg)
}